<launch>
  <arg name="worldId" default="$(optenv WORLD_ID home2)" doc="WorldId to load"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kuberobot_worlds)/worlds/$(arg worldId)/$(arg worldId).world"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="verbose" default="true"/>
  </include>
</launch>

